# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules

# Build output
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase/
.firebaserc
firebase-debug.log
firebase-debug.*.log

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Local Netlify folder
.netlify

# Scripts with sensitive data
scripts/*.js
!scripts/*.example.js
scripts/*.mjs
!scripts/*.example.mjs
src/scripts/*.mjs
!src/scripts/*.example.mjs
